* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

body{
  background-image: url("D:\Harsh\PROJECTS\TranslationTool\Translater\src\assets\image.avif") ; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  max-width: 700px;
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 10px 20px #000;
}

.wrapper{
  border: 1px solid #ccc;
  border-radius: 10px;
}

textarea {
  height: 250px;
  border: none; 
  border-radius: 10px;
  outline: none;
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 18px;

}

.text-input{
  border-bottom: 1px solid #ccc;
  display: flex;
}

.to-text{
  border-left: 2px solid #ccc;
  border-radius: 0px 10px 10px 0px;
}

.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.controls .row .icons i{
  width: 40px;
  font-size: 18px;
  color: #b7b7b7;
  justify-content: center;
}

.controls .row.from .icons{
  padding-right: 15px;
  border-right: 2px solid #ccc;
}

.controls .row.to .icons{
  padding-left: 15px;
  border-left: 2px solid #ccc;
}

select{
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
  margin: 0px 15px 0px 15px;
}

button{
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  color: white;
  background-color: #9452ff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 5px;
}
